.btn-dan{
    background:#f51957
}
.trash {
    width: 30px;
    height: 22px;
    opacity: 0.8;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: opacity 200ms;
      
      
    top: 30%;
    right: 50%;
    position: absolute;
    
    -webkit-appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 0;
}
    
.lid {
    -webkit-transform-origin: -7% 100%;
    -webkit-transition: -webkit-transform 150ms;
    height: 6px;
    width: 14px;
    background: url('http://f.cl.ly/items/0R1Y2w3H2t033u1i132E/trash.png') 0 0 no-repeat;
    left: 8px;
    position: absolute;
    right: 8px;
    top: 2px;
}
    
.trash:hover .lid {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 250ms;
}
    
.can {
    height: 12px;
    margin-left: 1px;
    margin-right: 2px;
    margin-top: 4px;
    width: 11px;
    background: url('http://f.cl.ly/items/0R1Y2w3H2t033u1i132E/trash.png') -1px -4px no-repeat;
    left: 8px;
    position: absolute;
    right: 8px;
    top: 2px;
}
    